@import '../constants.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.container.logo-and-symbol {
    display: flex;
    align-items: stretch;
}

.container.symbol {
    display: flex;
    align-items: center;
    padding-left: calc(var(--padding-small)/2);
}

.chart-labels {
    fill: var(--textColor);
}