@import '../constants.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.container.logo-and-symbol {
    display: flex;
    align-items: stretch;
}

.container.symbol {
    display: flex;
    align-items: center;
    padding-left: calc(var(--padding-small)/2);
}

.chart-labels {
    fill: var(--textColor);
}

.rank-info {
    margin-left: 5px;
    padding: 5px;
    color: var(--gray);
    background-color: var(--bgGray);
    border-radius: var(--padding-small);
}

.percent-info {
    margin-left: 8px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Inter', sans-serif;
}

/* CSS элементы библиотеки apexcharts */

.apexcharts-tooltip {
    background: var(--bgGray);
    color: var(--textColor);
}

.apexcharts-tooltip-series-group {
    padding-left: calc(var(--padding-small)/2) !important;
    padding-right: calc(var(--padding-small)/2) !important;
}

.apexcharts-tooltip-y-group {
    padding: 0 0 calc(var(--padding-small)/2) 0 !important;
}

.apexcharts-tooltip-title {
    padding: calc(var(--padding-small)/2) calc(var(--padding-small)/2) 0 calc(var(--padding-small)/2) !important;
    margin: 0 !important;
}

.apexcharts-tooltip-series-group.apexcharts-active {
    padding-bottom: 0px !important;
}

/* Стили для отображения селектора периода */

.container.gray {
    margin-top: var(--padding-small);
    background-color: var(--bgGray);
    border-radius: var(--padding-small);
    width: 100%;
}

.container.period {
    display: flex;
    justify-content: space-between;
}

.button.period {
    color: var(--textGray);
    border-radius: var(--padding-small);
    border: none;
    font-size: 12px;
    background-color: var(--bgGray);
    font-family: 'Inter', sans-serif;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button.period.active {
    color: var(--textColor);
    background-color: var(--textGray);
}