@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    /* Цвета */
    --green: #64c864;
    --red: #f45858;
    --gray: #808080;
    --black: #000000;
    --white: #FFFFFF;
    /* Отступы и размеры */
    --td-padding: 0.75em;
    /* env safe area необходимы для отделения приложения от статус и навигейшн баров на iOS, на Android и ПК переменные равны 0 */
    --iOStop: env(safe-area-inset-top);
    --iOSbottom: env(safe-area-inset-bottom);
}

.light-theme {
    --textColor: var(--black);
    --bgColor: var(--white);
}

.dark-theme {
    --textColor: var(--white);
    --bgColor: var(--black);
}

.red,
.green {
    font-size: 14px;
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.grid {
    display: grid;
    grid-template-rows: var(--iOStop) 1fr 13fr 1fr var(--iOSbottom);
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.top {
    display: flex;
    background-color: var(--bgColor);
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: var(--bgColor);
    overflow-y: scroll;
}

.body::-webkit-scrollbar {
    display: none;
}

.bottom {
    display: flex;
    background-color: var(--bgColor);
}

.statusBar,
.navigationBar {
    background-color: var(--bgColor);
}

table {
    width: 100%;
    background-color: var(--bgColor);
    border-collapse: separate;
    border-spacing: 10px;
}

tr {
    font-size: 12px;
}

thead {
    color: var(--gray);
    user-select: none;
    position: sticky;
    top: 0;
}

.tr-border {
    border-radius: 12px;
    outline: 1px solid var(--gray);
}

input {
    margin-left: 1em;
    font-size: 20px;
    width: 250px;
    height: 30px;
}

/* td-стиль для обычной ячейки */
.td-default {
    padding: var(--td-padding);
    text-align: end;
}

/* Ранк */
.rank {
    font-size: 12px;
    color: var(--gray);
    white-space: nowrap;
}

/* td-стиль для ячейки рыночной капитализации */
.td-market-cap {
    padding: var(--td-padding);
    text-align: start;
}

/* Содержит в себе лого, краткое название и капитализацию */
.market-cap-container {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
}

/* Логотип */
.logo {
    display: flex;
    flex-shrink: 0;
}

/* Контейнер для краткого названия и капитализации */
.symbol-and-cap-container {
    display: flex;
    flex-direction: column;
    margin-inline-start: var(--td-padding);
}

/* Краткое название криптовалюты */
.symbol {
    display: flex;
    color: var(--textColor);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    white-space: nowrap;
}

/* Рыночная капитализация */
.cap {
    font-size: 12px;
    color: var(--gray);
    white-space: nowrap;
}

/* Цена */
.price {
    font-size: 14px;
    color: var(--textColor);
}

/* Контейнер для заголовка и символа сортировки */
.thead-container {
    display: grid;
    height: 16px;
    grid-template-columns: 2fr 1fr;
}

/* Стили для заголовка и отображения сортировки при помощи символа треугольника */
.head-text, .sort-symbol {
    display: flex;
    align-items: center;
    background-color: var(--bgColor);
}

.head-text {
    justify-content: flex-end;
}

.sort-symbol {
    justify-content: flex-start;
}