@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    /* Цвета */
    --green: #64c864;
    --red: #f45858;
    --gray: #999999;
    --textColor: #FFF;
    --bgColor: #000;
    /* Отступы и размеры */
    --td-padding: 0.75em;
    /* env safe area необходимы для отделения приложения от статус и навигейшн баров на iOS, на Android и ПК переменные равны 0 */
    --iOStop: env(safe-area-inset-top);
    --iOSbottom: env(safe-area-inset-bottom);
}

.red,
.green {
    font-size: 14px;
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.grid {
    display: grid;
    grid-template-rows: var(--iOStop) 1fr 13fr 1fr var(--iOSbottom);
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.top {
    display: flex;
    background-color: var(--bgColor);
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: var(--bgColor);
    overflow-y: scroll;
}

.bottom {
    display: flex;
    box-shadow: 0 -0.5px 6px rgba(255, 255, 255, 0.1);
    background-color: var(--bgColor);
}

.statusBar,
.navigationBar {
    background-color: var(--bgColor);
}

table {
    width: 100%;
    background-color: var(--bgColor);
}

tr {
    text-align: center;
    font-size: 12px;
}

input {
    margin-left: 1em;
    font-size: 20px;
    width: 250px;
    height: 30px;
}

/* td-стиль для обычной ячейки */
.td-default {
    padding: var(--td-padding);
    text-align: end;
}

/* Ранк */
.rank {
    font-size: 12px;
    color: #808080;
    white-space: nowrap;
}

/* td-стиль для ячейки рыночной капитализации */
.td-market-cap {
    padding: var(--td-padding);
    text-align: start;
}

/* Содержит в себе лого, краткое название и капитализацию */
.market-cap-container {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
}

/* Логотип */
.logo {
    display: flex;
    flex-shrink: 0;
}

/* Контейнер для краткого названия и капитализации */
.symbol-and-cap-container {
    display: flex;
    flex-direction: column;
    margin-inline-start: var(--td-padding);
}

/* Краткое название криптовалюты */
.symbol {
    display: flex;
    color: var(--textColor);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    white-space: nowrap;
}

/* Рыночная капитализация */
.cap {
    font-size: 12px;
    color: #808080;
    white-space: nowrap;
}

/* Цена */
.price {
    font-size: 14px;
    color: var(--textColor);
}